<h1> Add a new building by filling in the form below.</h1>
<%= form_for(@building, url: {action: "create"})  do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address, required: true %> <br>
  <%= f.label :city %>
  <%= f.text_field :city, required: true %> <br>
  <%= f.label :state %>
  <%= f.text_field :state, required: true %> <%= f.label 'must be a valid state abbreviation.'%><br>
  <%= f.label :postcode %>
  <%= f.text_field :postcode, required: true %> <br>
  <%= f.label :description %>
  <%= f.text_field :description, required: false %> <br><br>
  <%= f.submit "Add Building"  %>
<% end %>
